.header h1 p {
  width: 100%;
  text-align: center;
  margin-left: 0rem;
  position: absolute;
}

.info {
  font-size: 30px;
  padding-bottom: 0px;
}

.info2 {
  font-size: 23px;
}

.credit p {
  font-size: 15px;
  margin-left: 25px;
  margin-top: 20px;
}

.contact ul li {
  text-align: right;
  margin-top: 20px;
}

.contact ul {
  margin-right: 0px;
}

.colorcontact {
  height: 1%;
}
